.team-container{
    display: flex;
    flex-basis: 80%;
    align-items: center;

    .team-contents{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }
}