.navbar-container{
    display: flex;
    flex-basis: 10%;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0% 4%;
    background-color: #ffffff;
    height: 100%;
    border-radius: 15px;

    .logo-container{
        cursor: pointer;
    }

    .logo-container:hover{
        opacity: 0.8;
        svg{
            scale: 1;
        }
    }

    h3{
        font-weight: 500;
        cursor: pointer;
    }
    
    .nav-links{
        display: flex;
        justify-content: space-between;
        width: 20%;

        a:hover{
            scale: 1.1;
        }
    }


    .nav-icons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 7%;

        a{
            display: flex;
            align-items: center;
        }
    }
}